/* Slogan */

@media screen and (max-width: 760px) {
  .Header-form {
    width: 80vw;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #1e2532;
  }
  .Header-form-left {
    width: 80vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 24px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
  }
  .form-input {
    width: 8em;
    height: 30px;
    margin: 7px 10px 8px 20px;
    font-size: 16px;
    color: #808080;
    border: 0px;
    outline: none;
  }
  .Header-form-input {
    height: 40px;
  }
  .Header-form-button {
    height: 40px;
    border-radius: 2px;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
  }
  .Header-form-right {
    margin-top: 20px;
    width: 10em;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .Header-form {
    width: 1140px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #1e2532;
  }
  .Header-form-left {
    width: 544px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
  }

  .Header-form-input {
    width: 426px;
    height: 48px;
  }
  .form-input {
    width: 300px;
    height: 30px;
    margin: 7px 30px;
    font-size: 16px;
    color: #808080;
    border: 0px;
    outline: none;
  }
  .Header-form-button {
    width: 218px;
    height: 48px;
    border-radius: 2px;
    text-align: center;
    line-height: 48px;
  }
  .Header-form-right {
    width: 218px;
    height: 48px;
    border-radius: 100px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 48px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 761px) {
  .Header-form {
    width: 80vw;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #1e2532;
  }
  .Header-form-left {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
  }
  .form-input {
    /* width: 300px; */
    height: 30px;
    margin: 7px 30px;
    font-size: 16px;
    color: #808080;
    border: 0px;
    outline: none;
  }
  .Header-form-input {
    height: 48px;
  }
  .Header-form-button {
    width: 10em;
    height: 44px;
    border-radius: 2px;
    text-align: center;
    line-height: 44px;
  }
  .Header-form-right {
    width: 10em;
    height: 44px;
    border-radius: 100px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
    text-align: center;
    line-height: 44px;
    margin-left: 30px;
  }
}

.Header-form-button.blue, .Header-form-right.blue {
  background: #1f28cf;
  color: #fff;
}
.Header-form-button.green, .Header-form-right.green {
  background: #78ce7c;
}
