/* 头图 */

@media screen and (max-width: 1024px) {
  .HeaderImg {
    width: 100vw;
    height: 50vw;
    margin: 0 auto;
    text-align: center;
  }
  .HeaderImg img {
    width: 90vw;
    height: 50vw;
  }

}

@media screen and (min-width: 1024px) {
  .HeaderImg {
    width: 1140px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
  }
  .HeaderImg img {
    width: 900px;
    height: 450px;
  }
}
