@media screen and (max-width: 760px) {
  .Cooperative {
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
  }
  .Cooperative-title {
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.48;
    text-align: center;
    color: #3a4346;
  }

  .Cooperative-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .Cooperative-content img {
    width: 80vw;
  }
}
@media screen and (min-width: 760px) {

  .Cooperative {
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
  }
  .Cooperative-title {
    width: 105px;
    margin: 0 auto;
    font-family: PingFangSC;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.48;
    text-align: center;
    color: #3a4346;
  }

  .Cooperative-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Cooperative-content img {
    width: 25%;
  }
}
@keyframes fadeInRight {
  0% {
    opacity:0;transform:translateX(20px)
  }
  100% {
    opacity:1;transform:translateX(0)
  }
}
.fadeInRight{
  animation-name:fadeInRight
}
