.Home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  .Home-header {
    width: 100vw;
    height: 800px;
    background-image: linear-gradient(to left, #d5ebf1, #bce0e9);
    overflow: visible;
  }
}

@media screen and (min-width: 761px) and (max-width: 900px){
  .Home-header {
    width: 100vw;
    height: 820px;
    background-image: linear-gradient(to left, #d5ebf1, #bce0e9);
    overflow: visible;
  }
}
@media screen and (min-width: 501px) and (max-width: 760px){
  .Home-header {
    width: 100vw;
    height: 780px;
    background-image: linear-gradient(to left, #d5ebf1, #bce0e9);
    overflow: visible;
  }
  .Home-footer {
    width: 100vw;
  }
}
@media screen and (max-width: 500px) {
  .Home-header {
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(to left, #d5ebf1, #bce0e9);
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .Home-header {
    width: 100vw;
    height: 900px;
    background-image: linear-gradient(to left, #d5ebf1, #bce0e9);
    overflow: visible;
  }
  .Home-footer {
    width: 1024px;
  }
}

.Home-content {
  width: 100%;
  margin-top: 200px;
}
