.Header {
  width: 100vw;
}
/* switch */
.Header-switch {
  margin-top: -9px;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07);
}
.Header-item {
  cursor: pointer;
  width: 60px;
  height: 40px;
  background-color: #eee;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}
.Header-item.blue {
  background: #1f28cf;
  color: #1f28cf;
}
.Header-item.green {
  background: #78ce7c;
  color: #78ce7c;
}
/* nav */
.Header-nav {
  width: 1200px;
  margin: 0 auto;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-nav-ul {
  float: left;
}
.Header-nav-ul li {
  text-align: center;
  list-style: none;
  padding: 0.2em 1em;
  float: left;
  height: 1em;
  color: #000;
  font-family: PingFangSC;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.Header-nav-ul li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
.Header-nav-ul li a:hover {
  color: #adb5c0;
}

.logon-button {
  cursor: pointer;
  margin-top: -10px;
  width: 97px;
  height: 40px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
.logon-button.green {
  background-color: #67c667;
  border: 1px solid #67c667;
}
.logon-button.blue {
  background-color: #5684ec;
  border: 1px solid #5684ec;
}
.logon-button.green:hover {
  background-color: rgba(103, 198, 103, 0.8);
  border: 1px solid rgba(103, 198, 103, 0.8);
}
.logon-button.blue:hover {
  background-color: rgba(86, 132, 236, 0.8);
  border: 1px solid rgba(86, 132, 236, 0.8);
}
